.biggrid{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
    margin-top:60px;
}
.grid3{
    display: grid;
    grid-template: repeat(10,1fr)/1fr 1fr;
    row-gap: 30px;
    justify-items: center;
    align-items: start;
    padding: 0;
    margin: 0;
    min-width: 88%;
}
.itemm1,.itemm2,.itemm3,.itemm4,.itemm5,.itemm6,.itemm7,.itemm8{
    display: flex;
    padding: 0;
    flex-direction: column;
    color:#8594AB
}
p{
    color: black;
}
.itemm1{
    grid-area: 1/1/span 3/2;
}

 .itemm2{
    grid-area: 1/2/span 2/-1;
}

.itemm3{
    grid-area: 4/1/span 2/2;
}

.itemm4{
    grid-area: 3/2/span 3/-1;
}

.itemm5{
    grid-area: 6/1/span 3/2;
}

.itemm6{
    grid-area: 6/2/span 2/-1;
}

.itemm7{
    grid-area: 9/1/span 2/2;
}


.itemm8{
    grid-area: 8/2/span 3/-1;
}
// второй грид с цифоами и текстом
.grid4{
    
    display: grid;
    grid-template: repeat(2,1fr)/2fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    justify-items: start;
    padding: 0;
    margin: 0;
    margin-top: 60px;
    min-width: 72%;
}
h1{
    font-size: 70px;
}
.box1{
    grid-area: 1/1/2/2;
    font-size: 28px;
}
.box3{
    font-size: 24px;
}