.footer{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-top: 60px;
}
.slide{
    margin-left: 20px;
    display: flex;
    max-width: 90%;
    justify-content: space-between;
    gap: 80px;
}
.slide > img{
    max-width: 80%;
}

.grid5{
    margin-top: 60px;
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 2fr 1fr;
    max-width:84%;
    justify-items: center;
    row-gap: 30px;
    column-gap: 20px;
}
.room1,.room4,.room7{
    color: #8594AB;
    font-size: 16px;
}
.room2,.room5,.room8{
    font-size: 40px;
    font-weight: 300;
}
