.real_head{
    background-color: #8594AB;
    height: 200px;
    display: flex;
    justify-content: center;

}
.head_grid{
    display: grid;
    grid-template: repeat(3,1fr)/repeat(8,1fr);
    justify-items: center;
    align-items: start;
    padding: 0;
    margin: 0;
    min-width: 95%;
    margin-top: 50px;
}
.headitem1,.headitem2,.headitem3,.headitem4{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 300;
    
}
.headitem1{
    grid-area: 1/3/2/4;
}
.headitem2{
    grid-area: 1/4/2/5;
}
.headitem3{
    grid-area: 1/5/2/6;
}
.headitem4{
    grid-area: 1/6/2/7;
}
.headitem5{
    width: 90%;
    border-color: white;
    grid-area: 2/1/3/span 8;
}
.headitem6{
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: inherit;
    outline: none;
    width: 20%;
    grid-area: 3/1/-1/span 8;
    color:white;
    padding: 0;
}
input::-webkit-input-placeholder { color: white; }